Package: mapping-touchscreen
Version: 0.1.0
Section: admin
Priority: extra
Architecture: all
Depends: inxi
Maintainer: Juan Ramon Castan
Description: Automatically maps xinput touchscreen to a monitor.
