Package: mapping-touchscreen
Version: 0.0.2
Section: admin
Priority: extra
Architecture: all
Depends: python3, read-edid
Maintainer: Juan Ramon Castan
Description: Automatically maps xinput touchscreen to a monitor.
